@import "tailwindcss";

@font-face {
    font-family: "MyRetroSerif";
    src: url("/fonts/MyRetroSerif-Regular.subset.woff2") format("woff2");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@plugin "@tailwindcss/typography";

@theme {
    --animate-breath-slow: breath 2.5s ease-in-out infinite;

    --font-retro-serif: "MyRetroSerif", serif;
    --font-serif: "MyRetroSerif", serif;

    --color-paper-50: var(--paper-50);
    --color-paper-100: var(--paper-100);
    --color-paper-200: var(--paper-200);
    --color-paper-300: var(--paper-300);
    --color-charcoal-700: var(--charcoal-700);
    --color-caramel-500: var(--caramel-500);

    --color-fav-1: var(--fav-1);
    --color-fav-2: var(--fav-2);
    --color-fav-3: var(--fav-3);
    --color-fav-4: var(--fav-4);
    --color-fav-5: var(--fav-5);
    --color-fav-6: var(--fav-6);
    --color-fav-7: var(--fav-7);
}

@keyframes breath {

    0%,
    100% {
        opacity: 0.5;
        transform: scale(0.98);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }
}

:root {
    /* 极致简约的米黄宣纸底色 */
    --paper-50: #FDFBF7;
    --paper-100: #F8F5EE;
    /* 侧边栏微深区分 */
    --paper-200: #EFEBDF;
    /* HOVER态 */
    --paper-300: #E2DCCB;

    --charcoal-700: #2C2825;
    /* 温润的黑棕色字 */
    --caramel-500: #C92A2A;
    /* 点睛之笔：优雅砖红 */

    --fav-1: #379CB6;
    --fav-2: #C15E5E;
    --fav-3: #70BAA5;
    --fav-4: #CD5A13;
    --fav-5: #DD9900;
    --fav-6: #88929F;
    --fav-7: #B8C5C9;
}

.dark {
    /* 黑夜模式采用温润的无边缘碳黑纸底色 */
    --paper-50: #121110;
    --paper-100: #171615;
    --paper-200: #1F1D1C;
    --paper-300: #2C2927;

    --charcoal-700: #E8E4DB;
    --caramel-500: #E03131;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "MyRetroSerif", serif;
    background-color: var(--paper-50);
    color: var(--charcoal-700);
    /* 取消繁杂元素，保留极致纯净背景 */
    background-attachment: fixed;
    overscroll-behavior-y: none;
    -webkit-font-smoothing: antialiased;
}

/* 隐藏滚动条，用呼吸感布局取代 */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}